<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="world_name" default="empty.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="worlds/$(arg world_name)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
   <arg name="paused" value="false"/>
   <arg name="use_sim_time" value="true"/>
   <arg name="gui" value="true"/>
   <arg name="headless" value="false"/>
   <arg name="debug" value="false"/>
 </include>
 <include file="$(find displaced_stereo_vision)/launch/robots.launch"/>

 <node
     name="quadcopter_driver"
     pkg="displaced_stereo_vision"
     type="quadcopter_driver.py"
     >
 </node>

 <node
     name="wafflebot_camera"
     pkg="displaced_stereo_vision"
     type="wafflebot_camera.py"
     >
 </node>

 <node
     name="quadcopter_camera"
     pkg="displaced_stereo_vision"
     type="quadcopter_camera.py"
     >
 </node>

 <!-- <node
     name="direction_calculator"
     pkg="displaced_stereo_vision"
     type="direction_calculator.py"
     >
 </node> -->

  <!-- include our robots -->
</launch>
